:root {
	--width-separator: 100%;
	--height-separator: 1px;
	--color-separator: #000000;
}

.separator {
	width: var(--width-separator);
	height: var(--height-separator);
	background: var(--color-separator);
}
