.container {
	position: fixed;
	top: 31px;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	background-color: #000000;
	border-right: 1px;
	transition: transform 0.5s ease;
	@media(max-width: 991px) {
		width: 50px;
		height: 50px;
	}

	@media(max-width: 587px) {
		width: 40px;
		height: 40px;
	}
}

.container:hover {
	background-color: #ffc802;
}

.container:active {
	background-color: #787878;
}

.container_open {
	transform: translate(616px);
	@media(max-width: 1200px) {
		transform: translate(500px);
	}

	@media(max-width: 991px) {
		transform: translate(350px);
	}
	@media(max-width: 587px) {
		transform: translate(280px);
	}
	
}

.arrow {
	flex-shrink: 0;
	width: 48px;
	height: 48px;
	transform: rotate(180deg);
	transition: transform 0.5s ease;
}

.arrow_open {
	transform: rotate(0deg);
}
